@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000000;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  @apply mb-4 text-3xl font-bold;
}

p {
  @apply mb-4;
}

ul {
  @apply list-inside list-disc;
}

strong {
  @apply font-bold text-indigo-400;
}

em {
  @apply italic text-pink-500;
}

.btn-primary {
  @apply rounded-xl bg-indigo-500 px-4 py-2 font-bold text-white transition-all duration-200 ease-in-out hover:bg-indigo-700;
}

.btn-primary:disabled {
  @apply cursor-not-allowed rounded-xl bg-indigo-500 px-4 py-2 font-bold text-white opacity-50;
}

.chat-container {
  @apply flex h-full flex-auto flex-shrink-0 flex-col rounded-2xl bg-white bg-opacity-5 p-4;
}

.chat-messages {
  @apply mb-4 flex h-full flex-col overflow-scroll overflow-x-auto;
}

/* Animations */

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
